*.out
*.npy
*.pdf
*~
*#

depos_*
checkpoints/nd_fd_*
checkpoints/FHC.nogaps.*
checkpoints/thesis_infilled_6chs_*
checkpoints/thesis_infilled_7chs_*
__pycache__/
checkpoints/test/
sample/
bin/tscripts/
jobs/mean_rms.txt
results/nd_fd_*
results/FHC*
results/thesis*
jobs/exportroot_setups
jobs/logs

